<ion-header>
  <ion-toolbar>
    <ion-title>
      Indoor Localization Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-button color="primary" (click)="click()">Get Networks</ion-button>
  {{infoTxt}}
  <ion-list>
    <ion-item *ngFor="let data of location">
      {{data}}
    </ion-item>
  </ion-list> -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <canvas
          (mousedown)="getRealLocation($event)"
          class="canvas"
          width="1000"
          height="600"
          #canvas
        ></canvas>
      </ion-col>
      <ion-col class="box" style="height: fit-content;">
        <ion-label class="text">Location Prediction</ion-label>
        <ion-item>
          x: {{location[0]*0.4}}
        </ion-item>
        <ion-item>
          y: {{location[1]*0.4}}
        </ion-item>
        <ion-item>
          <ion-button
            (click)="click()"
            style="width: fit-content; font-size: 20px; margin: 1vh auto 1vh;"
            >Get Location</ion-button
          >
        </ion-item>

        <ion-label class="text">Real Location</ion-label>
        <ion-item>
          x: {{realLocation[0]}}
        </ion-item>
        <ion-item>
          y: {{realLocation[1]}}
        </ion-item>

        <ion-label class="text">Accurary</ion-label>
        <ion-item style="color: red;">
          {{accuracy}}
        </ion-item>

        <ion-item>
          <ion-button
            (click)="getReferncePoint()"
            style="width: fit-content; font-size: 20px; margin: 1vh auto 1vh;"
            >Get RP</ion-button
          >
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Set time scan</ion-label>
          <ion-input [(ngModel)]="setTimeOut"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">K Nearest</ion-label>
          <ion-input [(ngModel)]="kNearest"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    {{infoTxt}}
  </ion-toolbar>
</ion-footer>
