<ion-header>
  <ion-toolbar>
    <ion-title>
      Training Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label position="stacked">Location_X</ion-label>
  <ion-input [(ngModel)]="idea.location[0]"></ion-input>
  <ion-label position="stacked">Location_Y</ion-label>
  <ion-input [(ngModel)]="idea.location[1]"></ion-input>
  <ion-label position="stacked">Distance</ion-label>
  <ion-input [(ngModel)]="idea.distance"></ion-input>

  {{infoTxt}}
  <ion-list>
    <ion-item>{{count}}</ion-item>
    <!-- <ion-item *ngFor="let x of arrayName;index as i ">
      {{x}}-{{RSSFinal[i]}}
    </ion-item> -->
    <ion-item *ngFor="let data of results">
      {{data.SSID}} - {{data.BSSID}} - {{data.level}} - {{data.frequency}}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="success">
    <ion-button expand="full" fill="clear" color="light" (click)="click()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Start Scaning
    </ion-button>
    <ion-button expand="full" fill="clear" color="light" (click)="print()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Print
    </ion-button>
  </ion-toolbar>
</ion-footer>
